*{
    margin: 0;
    padding:0;
    box-sizing: border-box; /*margin e padding não comprometerem na largura dos elementos*/
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background:linear-gradient(
        90deg,
        rgba(65,184,131,1)0%,
        rgba(0,212,255,1)100%
        );
        display: flex;
        align-items: center;
        justify-content: center;
}

.container{
    border:solid 2px #fff;
    padding:30px 40px;
    min-width: 300px;
}

.new-task-container{
    background-color: #fff;
    padding:30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.397);
    display: flex;
}

.new-task-container > input{
    flex: 3;
    font-size: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.452);
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
}

.new-task-container input:focus{
    outline: none;
    border-color: #41b883;
}

.new-task-button{
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: #41b883;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.tasks-container{
    background-color: #fff;
    padding:30px 20px;
    margin: 60px auto;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.397);
    width: 100%;
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.buttonDelete{
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}

.taskDone{
    text-decoration-line:line-through ;
}

/* Utilities */

.error{
    border: 2px solid red !important;
}

.error::placeholder{
    color: red;
}

